/* Style for the whole document */
:root {
    --white-font: #FFFFFF;
    --black-font: #000000;
    --color5: 0B1D51;
    --color4: 797596;
    --color3: A1869E;
    --color2: BBADA0;
    --color1: D1C6AD;
    background-color: #1c1c1c;
 
}

/* Style for all content within all the web pages */
/* Comment */
.Statistics-container {
    max-width: 72em;
    margin: 0 auto;
    font-family: 'Times New Roman', Times, serif;
    color: #e8e8e8;
    text-align: center;
}
.Donations-container {
    max-width: 72em;
    margin: 0 auto;
    font-family: 'Times New Roman', Times, serif;
    color: #e8e8e8;
}
.main-container {
    max-width: 72em;
    margin: 0 auto;
    font-family: 'Times New Roman', Times, serif;
    color: #e8e8e8;
}

/* Style for all document Headings */
.banner {

    margin: 5mm;
    font-family: 'Times New Roman', Times, serif;
    font-size:  3em;
    font-weight: bold;
    color: #3d70b8;
    text-align: center;
}


/* Style for Donate Now button */
.Image-Links {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.Alerts-Text {
    text-align: center;
}


/* ALL grid based organizing of content*/
/* Index Heading*/
#Index-banner {
    grid-area: IB;
}
/* Index Paragraph*/
#Index-Info {
    grid-area: II;
}
/* About Heading */
#About-banner {
    grid-area: AB;
}
/* About Air-Alerts Content*/
#About-Air-Alerts-Card {
    grid-area: AA;
}
/* About Ukraine War Content*/
#About-Ukraine-War-Card {
    grid-area: AU;
}
/* About Current Update Content*/
#About-Current-Update-Card {
    grid-area: AC;
}
/* Active Alerts Header*/
#Active-Alerts-banner {
    grid-area: AL;
}
/* Active Alerts Text*/
#Active-Alerts-Text {
    grid-area: AT;
}

/* Active Alerts Ukraine Map Image*/
#Ukraine-Map {
    grid-area: UM;
}

/* Donation Heading*/
#Donation-banner {
    grid-area: DB;
}
/* Come-Back-Alive_foundation Content*/
#Come-Back-Alive-Foundation {
    grid-area: CF;
}
/* United24 Content*/
#United24 {
    grid-area: UD;
}
/* AFUO-CYOA Content*/
#AFUO-CYOA {
    grid-area: AF;
}

/* Statistics heading*/
#Statistics-Banner {
    grid-area: SB;
}
#Statistics-Content {
    grid-area: SC;
}
#War-Progress-Content {
    grid-area: PC;
}
#War-Crimes-Content {
    grid-area: CC;
}
/* Donation button grid area */
#Index-Donation-Button {
    grid-area: ID;
}

#Copyright_Disclaimer {
    text-align: center;
    grid-area: CD;
}
#Come-Back-Alive-Foundation-Image {
    grid-area: CI;
}
#United24-Image {
    grid-area: UI;
}
#AFUO-CYOA-Image {
    grid-area: FI;
}






/* Use a flexible layout grid */
.main-container {
    display: grid;
    column-gap: 1em;
}

.Statistics-container {
    display: grid;
    column-gap: 1em;
}

.Donations-container{
    display: grid;
    column-gap: 1em;
}
  
.main-container {
    grid-template:
        "IB" minmax(8em, auto)
        "II" minmax(8em, auto)
        "AB" minmax(8em, auto)
        "AA" minmax(8em, auto)
        "AU" minmax(8em, auto)
        "AC" minmax(8em, auto)
        "AL" minmax(8em, auto)
        "AT" minmax(8em, auto)
        "UM" minmax(12em, auto)
        "CD" minmax(8em, auto)
}

.Statistics-container {
    grid-template:
        "SB" minmax(8em, auto)
        "SC" minmax(8em, auto)
        "PC" minmax(8em, auto)
        "CC" minmax(8em, auto)
        "ID" minmax(10em, auto)
        "CD" minmax(8em, auto)
}

.Donations-container {
    grid-template:
        "DB" minmax(8em, auto)
        "CF" minmax(4em, auto)
        "CI" minmax(10em, auto)
        "UD" minmax(4em, auto)
        "UI" minmax(10em, auto)
        "AF" minmax(4em, auto)
        "FI" minmax(10em, auto)
        "CD" minmax(8em, auto)
}






/* Add a black background color to the top navigation bar */
.Navigation {
    overflow: hidden;
    background-color: #0c0c0c;
  }
  
  /* Style the links inside the navigation bar */
  .Navigation a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 21px 24px;
    text-decoration: none;
    font-size: 24px;
  }
  
  /* Change the color of links on hover */
  .Navigation a:hover {
    background-color: #d0A200;
    color: white;
  }
  
  /* Style the "active" element to highlight the current page */
  .Navigation a.active {
    background-color: #0054c9;
    color: white;
  }

